body { background: #283; }

.presentation { background: blue; float: left; width: 100%; }
.slide { background: gray; float: left; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }