/* Elements */
body { background: #ADD8E6; }
a { text-decoration: none; }
pre { font-family: "Lucida Console", Monaco, monospace; font-size: 19px; text-shadow: none; }

/* Layout */
.bocker { margin-bottom: 10px; }
.vertical-spacer { margin: 10px 0; }
.vertical-spacer-large { margin: 45px 0; }
.hide-list-style { list-style: none; }

.footer { background: #387E96; bottom: 10px; font-family: helvetica, arial, sans-serif;
		  height: 30px; position: fixed; width: 100%; }
.footer div { margin: 7px 20px; }
.footer .left { float: left; }
.footer .right { float: right; }
.footer a { color: #222; text-shadow: none; }
.footer a:hover { border-bottom: 1px #222 dashed; }

.content { margin-right: auto; margin-left: auto; text-align: left; width: 80%; }
.content li { font-size: 25px; list-style: square; }
.content li.hide-list-style { list-style: none; } /* here cause of specificity */
.sub-bullets { margin: 25px 55px; }
.sub-bullets li { list-style: decimal; }

/* Slides */
.presentation { height: 555px; text-align: center; width: 100%; } 
.slide { background: #D9CB9E; font-family: helvetica, arial, sans-serif;
		 height: inherit; margin: 0 auto; position: relative;
	     text-align: left; width: 800px; z-index: 10;
		-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
		-webkit-box-shadow: 0px 0px 10px #000000; -moz-box-shadow: 0px 0px 10px #000000; box-shadow: 0px 0px 10px #000000;}
.slide a, .slide a:visited { color: #DC3522; }
.slide a:hover { border-bottom: 1px #DC3522 dashed; }
.embed { background: #D3D3D3; display: block; padding: 20px;
	     -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	     -webkit-box-shadow: inset 0px 0px 1px #000; -moz-box-shadow: inset 0px 0px 1px #000; box-shadow: inset 0px 0px 1px #000; }
.longcode { height: 400px; overflow: scroll; overflow-x: hidden; }
#coordinate-system { height: 300px; width: 600px; }
#coordinate-system-container { height: 200px; }
#canvas-animation-code-code { margin-left: -8%; width: 110%; }

/* Nav controls */
.nav_pager { position: absolute; right: 3000px; }
.nav_controls { height: inherit; position: absolute; top: 0; z-index: 5; width: 100%; }
.nav_controls li { height: 250px; position: absolute; top: 150.5px; width: 9%; }
.nav_controls .prev { left: 5%; }
.nav_controls .next { right: 5%; }
.nav_controls a { display: block; height: 100%; 
				  filter: alpha(opacity=15); opacity: 0.15; }
.nav_controls a img { height: auto; }
.nav_controls a:hover { filter: alpha(opacity=65); opacity: 0.65 }

/* Text */
.dark-inset { color: #222; text-shadow: -1px 0px 1px #555; }
.light-inset { color: #DDD; text-shadow: -1px 0px 1px #222; }
.center-text { text-align: center; }
.white-shadow { text-shadow: 0 1px 1px #FFF; }

h1,h2,h3,h4,h5,h6 { font-family: Tahoma, Geneva, Verdana, serif; margin: 0 10px; }
.title { font-size: 65px; }
.sub-heading { font-size: 56px; }
.sub-information { font-size: 38px; }